<div class="table">
  <p>
    <strong>History</strong>
  </p>
  <table mat-table matSort [dataSource]="dataSource">
    <ng-container matColumnDef="budget">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Net Budget</th>
      <td mat-cell *matCellDef="let element">
        {{ element.budget | number : "1.2-2" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="currency">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Currency</th>
      <td mat-cell *matCellDef="let element">{{ element.currency }}</td>
    </ng-container>

    <ng-container matColumnDef="region">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Region</th>
      <td mat-cell *matCellDef="let element">
        {{ element.region | titlecase }}
      </td>
    </ng-container>

    <ng-container matColumnDef="familySize">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Family Size</th>
      <td mat-cell *matCellDef="let element">
        {{ element.familySize | titlecase }}
      </td>
    </ng-container>

    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>City</th>
      <td mat-cell *matCellDef="let element">{{ element.city }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="editElement(element)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteElement(element)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page from History"
  >
  </mat-paginator>

  <button mat-button (click)="clearHistory()">Clear history</button>
</div>

