.icon {
    font-size: 2rem;
    color: $text-color-dark;
    transition: color 0.3s ease, transform 0.3s ease;

    &:hover {
        color: lighten($primary-color, 20%);
        transform: scale(1.1);
    }

    &:active {
        transform: scale(0.95);
    }
}