<div class="container">
  <form [formGroup]="form">
    <h3>Insert a city to calculate your income minus possible expenses</h3>
    <mat-form-field >
      <mat-label>City</mat-label>
      <input matInput formControlName="city">
    </mat-form-field>
    <mat-form-field >
      <mat-label>Income</mat-label>
      <input matInput formControlName="income">
    </mat-form-field>
    <mat-form-field >
      <mat-label>City region</mat-label>
      <mat-select formControlName="cityRegion">
        <mat-option value="centre">City centre</mat-option>
        <mat-option value="outskirts">Outskirts</mat-option>
      </mat-select>
    </mat-form-field>
  
    <button [style.display]="'block'" [style.margin]="'0 auto'" mat-button (click)="onSubmit()">Submit</button>
  </form>
  
  <h3 *ngIf="netIncome"><strong>Net income: </strong>{{ netIncome.result | number : '1.2-2'}}</h3>
</div>