<div mat-dialog-content>
    <form [formGroup]="editForm">
        <mat-form-field>
            <input matInput placeholder="Name" formControlName="budget">
            <mat-error *ngIf="editForm.controls['budget'].hasError('required')">
                Budget is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Currency</mat-label>
            <mat-select formControlName="currency">
                <mat-option *ngFor="let currency of currencies" [value]="currency.code">{{
                currency.code
                }}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-select formControlName="region">
                <mat-option value="centre">City centre</mat-option>
                <mat-option value="outskirts">Outskirts</mat-option>
              </mat-select>
            <mat-error *ngIf="editForm.controls['region'].hasError('required')">
                Region is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-select formControlName="familySize">
                <mat-option value="single">Single</mat-option>
                <mat-option value="family">Family of four</mat-option>
            </mat-select>
            <mat-error *ngIf="editForm.controls['familySize'].hasError('required')">
                Family Size is <strong>required</strong>
            </mat-error>
        </mat-form-field>
    </form>
</div>

<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-button [mat-dialog-close]="editForm.value" [disabled]="!editForm.valid">Save</button>
</div>